name: CRs Workflows

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**" # This will match pull requests targeting any branch

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    strategy:
      matrix:
        runs-on: [ubuntu-latest]
    runs-on: ${{ matrix.runs-on }}

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Environment setup
        run: |
          echo "DUNE_WORKSPACE=$PWD/dune-workspace-5.3" >> "$GITHUB_ENV"
          echo "PACKAGES=crs" >> "$GITHUB_ENV"

      - name: Setup Dune
        uses: mbarbin/setup-dune@d38f7c80df59974cbe417c7f2a849219d54b4fdf # v2.0.0+patch-3
        with:
          version: "3.21.0"
          workspace: ${{ env.DUNE_WORKSPACE }}
          cache-prefix: "crs-bin"
          only-packages: ${{ env.PACKAGES }}
          steps: install-dune enable-pkg

      - name: Build & Install crs binary
        shell: bash
        run: |
          dune build src/crs/bin/main.exe --only-packages=${{ env.PACKAGES }}
          mkdir -p "${{ runner.temp }}/crs-bin"
          cp _build/default/src/crs/bin/main.exe "${{ runner.temp }}/crs-bin/crs"
          echo "${{ runner.temp }}/crs-bin" >> $GITHUB_PATH

      - name: Check crs installation
        run: crs --version

      - name: Install reviewdog
        uses: reviewdog/action-setup@d8edfce3dd5e1ec6978745e801f9c50b5ef80252 # v1.4.0
        with:
          reviewdog_version: v0.20.3

      # Here we can have a few CRs workflows that should permit to test the crs
      # built from that PR and its interaction with other tools like reviewdog,
      # GitHub annotations, step summaries, etc.

      - name: Comment on CRs in PR
        uses: mbarbin/crs-actions/comment-crs-in-pr@061f8bc6ac432c1ebc575489f0ea1bc499be0e78 # v1.0.0-alpha.10
        with:
          crs-config: .github/crs-config.json

      - name: Summarize CRs in PR
        uses: mbarbin/crs-actions/summarize-crs-in-pr@061f8bc6ac432c1ebc575489f0ea1bc499be0e78 # v1.0.0-alpha.10
        with:
          crs-config: .github/crs-config.json
