name: CRs Workflows

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**" # This will match pull requests targeting any branch

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    strategy:
      matrix:
        runs-on: [ubuntu-latest]
    runs-on: ${{ matrix.runs-on }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Dune
        uses: mbarbin/setup-dune@fd640f52b2a84d68cd4867cb5972247b70630d1a # repkg
        with:
          steps: install-dune enable-pkg

      - name: Build & Install crs binary
        shell: bash
        run: |
          dune exec crs -- --version
          mkdir -p "${{ runner.temp }}/crs-bin"
          cp _build/default/src/crs/bin/main.exe "${{ runner.temp }}/crs-bin/crs"
          echo "${{ runner.temp }}/crs-bin" >> $GITHUB_PATH

      - name: Check crs installation
        run: crs --version

      - name: Install reviewdog
        uses: reviewdog/action-setup@d8edfce3dd5e1ec6978745e801f9c50b5ef80252 # v1.4.0
        with:
          reviewdog_version: v0.20.3

      # Here we can have a few CRs workflows that should permit to test the crs
      # built from that PR and its interaction with other tools like reviewdog,
      # GitHub annotations, step summaries, etc.

      - name: Comment on CRs in PR
        uses: mbarbin/crs-actions/comment-crs-in-pr@v1.0.0-alpha.8
        with:
          crs-config: .github/crs-config.json

      - name: Summarize CRs in PR
        uses: mbarbin/crs-actions/summarize-crs-in-pr@v1.0.0-alpha.8
        with:
          crs-config: .github/crs-config.json
